.stats_container{
    width: 300px;
    height: 60px;
    margin: auto;
    display: flex;
    font-size: 24px;
    font-weight: 550;
}
.timer_container{
    width: 50%;
    text-align: center;
}
.round_container{
    width: 50%;
    text-align: center;
}